h1 {
    font-family: 'Playfair Display', serif; 
    font-size: 2.5rem; 
}

p {
    font-family: 'Roboto', sans-serif; 
    font-size: 1rem; 
    line-height: 1.6; 
}

.tituloDaPagina 
{
    text-align: center;
    padding: 20px;
    margin: 5px;
    border: 5px solid orange;
}

.tituloDaPagina h1 
{
    color: orange;
    font-size: 35px;
    margin-bottom: 25px; 
}

.navegacaoDaPagina 
{
    display: flex;
    justify-content: space-around; 
    list-style: none;
}

.navegacaoDaPagina li a 
{
    text-decoration: none; 
    font-size: 25px; 
    color: orange;
}

main h2 
{
    text-align: center;
    font-style: italic;
    font-size: xx-large;
    color: orange;
}

#sports
{
    display: flex;
    justify-content: space-between;
}

#sports .container
{
    text-align: center;
    justify-content: space-between;
} 

#economy
{
    display: flex;
    justify-content: space-between;
}

#economy .container
{
    text-align: center;
    justify-content: space-between;
}

#entertainment
{
    display: flex;
    justify-content: space-between;
}

#entertainment .container
{
    text-align: center;
}

#technology
{
    display: flex;
    justify-content: space-between;
}

#technology .container
{
    text-align: center;
}

.container
{
    box-sizing: border-box;
    margin: 5px;
    border: 5px solid orange;
    padding: 5px;
    max-width: 30%;
}

.container a
{
    text-decoration: none;
    text-align: center;
    color: orange;
}
.container img
{
    width: 90%;
    height: 200px;
}



